main {
    margin: 0 10px;
}

.Main-title {
    color: var(--headline-color-on-white);
    text-align: center;
    font-size: var(--font-size-large);
    margin: 20px;
    padding: 5px 0;
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--white);
    gap: 10px;
    width: 110px;
    height: 40px;
    margin: 0 auto;
    border: 2px solid var(--king-kong);
    border-radius: 10px;
    background-color: var(--white);
    color: var(--king-kong);
}

button {
    border: 1px solid var(--king-kong);
    border-radius: 5px;
    padding: 5px;
    width: 50px;
    text-transform: uppercase;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--white); 
    color: var(--king-kong); 
}

button.activebtn {
    background-color: var(--king-kong); 
    color: var(--white);
}

.fa-border-all,
.fa-list {
    color: inherit; 
}

button:hover {
    background-color: var(--king-kong);
    color: var(--white);
}

#directory-box.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 20px;
}

.card-box {
    padding: 20px;
    border: 2px solid var(--king-kong);
    border-radius: 10px;
    margin: 10px;
    background-color: var(--white);
    overflow: hidden;
}

.logo {
    object-fit: cover;
    width: 100px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: var(--paragraph-color-on-color);
}

.card-box h3, 
.card-box ul li {
    color: white;
    font-size: var(--font-size-base);
}

.card-box ul {
    padding: 10px;
}

td a:link, td a,
.card-box a:link, .card-box a {
    text-decoration: none;
    color: var(--oxford-blue);
}

td a:visited,
.card-box a:visited {
    text-decoration: underline;
}

td a:hover,
.card-box a:hover {
    font-weight: bold;
    color: var(--yale-blue);
}

td a:active,
.card-box a:active {
    text-decoration: underline;
}

#directory-box.list-view {
    display: block;
}

#directory-box.list-view .card-box {
    margin: 30px;
}

body {
    max-width: 95%;
    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2rem;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
}

header,
main,
footer {
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: var(--primary-color);
    padding: 1.5rem;
}

header img {
    width: 144px;
    max-width: 100%;
    height: auto;
    flex-shrink: 1;
    border: 0.1rem solid rgba(100, 70, 9, 0.769);
    border-radius: 0.3rem;
}

h1,
h2,
h3 {
    font-family: var(--font-family);
}

header h1 {
    flex: 1 1 auto;
    font-size: 2rem;
    text-align: left;
    font-weight: 300;
    line-height: 1.2;
    margin-left: 1rem;
    white-space: nowrap;
}

nav {
    flex: 0 1 auto;
    flex-shrink: 1;
    transition: all 0.3s ease-in-out;
}

ul.nav-links {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 5px;
    flex-shrink: 1;
    background: none;
}

nav ul.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    background: none;
}

nav ul.nav-links a:hover {
    color: var(--tertiary-color);
}

main {
    padding: 1rem;
}

.hero-container {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.3rem;
}

.cta {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0.8rem 1.5rem;
    background-color: var(--tertiary-color);
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.cta:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.cards {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

aside.events,
aside.weather,
aside.forecast {
    background: #f6f9f9f4;
    padding: 1rem;
    border: 0.1rem solid rgba(100, 70, 9, 0.769);
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px rgb(7, 0, 0);
    width: 100%;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

aside.events:hover,
aside.weather:hover,
aside.forecast:hover {
    box-shadow: 0 25px 33px rgba(8, 0, 0, 0.3);
    transform: translateY(-5px);
}

aside h2 {
    margin: 0 auto;
}

h2 {
    font-size: 1.8rem;
    color: var(--tertiary-color);
    font-weight: 400;
    margin: 1rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    color: var(--tertiary-color);
    margin: 1rem 0;
    font-weight: 400;
}

p {
    font-size: 1.2rem;
    color: black;
    text-align: center;
    line-height: normal;
    transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 0.5rem;
    text-align: center;
    color: black;
    margin: 0 auto;
    background: var(--tertiary-color);
    transition: all 0.3s ease-in-out;
}

aside p,
aside ul {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: black;
    line-height: 1.5;
}

.events-list {
    list-style: none;
}

footer {
    width: 100%;
    font-size: 1.5rem;
    color: black;
    background: var(--primary-color);
    padding: 1.8rem;
    text-align: center;
    align-items: center;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    margin-top: 0.5rem;
}

footer p {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

footer p:first-child {
    text-align: left;
}

footer p:last-child {
    text-align: right;
}

.social-icons {
    justify-content: center;
    gap: 3rem;
    margin-left: 2rem;
}

a.social-icon {
    background: none;
}

.social-icon img {
    width: 44px;
    height: 44px;
    border: 0.1px solid black;
    border-radius: 26px;
    transition: all 0.3s ease-in-out;
}

.grid-container {
    display: grid;
}

.grid {
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}


@media (min-width: 860px) {

    #directory-box.list-view {
        display: table;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 0 15px;
    }

    #directory-box.list-view .card-box {
        display: table-row;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
    }

    #directory-box.list-view .card-box > * {
        display: table-cell;
        vertical-align: middle;
        padding: 15px;
        background-color: var(--white);
        border: 2px solid var(--king-kong);
        border-radius: 10px;
    }

    #directory-box.list-view .card-box .logo {
        width: 150px;
        height: 150px;
    }

    #directory-box.list-view .card-box h3 {
        font-size: 1.5rem;
    }

    #directory-box.list-view .card-box ul {
        list-style: none;
        padding: 0;
    }

    #directory-box.list-view .card-box ul li {
        font-size: 1rem;
    }

    #directory-box.list-view .card-box ul li a {
        font-size: 1rem;
        text-decoration: underline;
    }
}

.att-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Events {
    width: 100%;
    height: 300px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgb(79, 79, 79);

}

.Events h1 {
    background-color: var(--primary-color);
    padding: 15px 15px;
    margin: 0 0;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px 10px 0px 0px;

}

.Events ul {
    padding: 15px 15px;
}

.Events ul li {
    padding-bottom: 10px;
}


.Calender {
    width: 100%;
    height: 400px;
    background-color: #2a7b48;
    margin: 20px 0px ;
}






#discover-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.att-img-container {
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgb(79, 79, 79);

}

.att-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.att-img-container .ptag {
    position: absolute;
    bottom: 0;
    background-color: rgb(42, 123, 72, 0.5);
    color: white;
    width: 100%;
    height: 35%;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
}

/* .att-img-container .ptag {
    visibility: hidden;
} */

.att-img-container .ptag:hover {
    visibility: visible;
    cursor: pointer;
    background-color: rgb(42, 123, 72, 0.9);
    /* translate: 0 10px; */
    /* transform: rotate(-180deg); */
    /* transition: .3s ease-in, transform 2s; */
    animation: upDown .6s ease;
}

@keyframes upDown {
    from {
        transform: translateY(-20px);
        background-color: aqua
        ;
    }

    to {
        transform: translateY(0);
    }
}



.ptag p {
    padding: 10px;
}


.places {
    margin-top: 20px;
}


footer {
    margin-left: 500px;
}